!!!
%html
  %head
    %title= 'Ben Valkyr | Official Website'

    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %link{rel: 'stylesheet', href: './css/main.css'}
    -# %link{rel: 'icon', type: 'image/x-icon', href: 'favicon.ico'}

  %body{class: ''}
    %main{class: '', id: 'main-content' }
      %div
        %a{href: 'https://www.instagram.com/ben.valkyr', target: '_blank'} Instagram
        %a{href: 'https://www.soundcloud.com/ben-valkyr', target: '_blank'} SoundCloud
        %a{href: 'https://open.spotify.com/user/blussier777', target: '_blank'} Spotify Playlists
    %footer{ role: 'contentinfo', id: 'std-footer' }

    %script{src: './javascript/index.js'}